{% extends 'base.html.twig' %}

{% block title %}Nom du site{% endblock %}

{% block body %}
<main class="main">
    <div class="home-title">
        <h1 class="title title-main">Nom du site</h1>
    </div>
    <div class="recipe-container">
        {% include 'partials/_recipes_loop.html.twig' with {
            'recipes': recipesAndCategories
        } %}
    </div>
</main>
{% endblock %}
