.admin-comment{
    border: 1px solid var(--color-dark-900);
    margin-inline: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #fff;
}
@media (width > 768px) {
    .dashboard-admin{
        margin-inline: 5rem;
    }
    .admin-desktop-comments-container, .admin-desktop-recipe-container{
        display: flex;
        flex-wrap: wrap;
    }
    .admin-comment{
        width: 398px;
    }
    .comment-content-area.admin{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
@media (width > 1044px) {
    .dashboard-admin{
        margin-inline: 10rem;
    }
}
