.title-profil{
    margin-left: 1rem;
    font-family: "Ysabeau Office", serif;
}
.craue_formflow_steplist{
    text-align: center;
}
.link-admin{
    display: block;
    margin-inline: auto;
    width: fit-content;
}
@media (width > 768px) {
    .craue_formflow_steplist{
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
}
@media (width > 1044px) {
    .profile-recipe-area{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .recipe-form-area{
        flex: 1;
    }
    .my-recipe-area{
        flex: 1;
    }
}
