.recipe-container{
    padding: 1rem;
}
.recipe-img{
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.1));
    width: 100%;
    object-fit: cover;
    height: 168px;
}
.title-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.recipe-infos{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    & .infos-img{
        width: 24px;
    }
    & .level-group{
        display: flex;
    }
}
.step-title{
    font-size: 1.25rem;
    margin: 0.5rem 0;
}
.recipe-like-group{
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
}
.recipe-like-icon{
    width: 24px;
}
.recipe-modication-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.recipe-modification-btn{
    text-decoration: none;
    display: inline-block;
}
.recipe-comments{
    background-color: var(--color-light-900);
    border-top: 1px solid var(--color-dark-900);
    padding: 2rem 1em;
}
.commment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-block: 1rem;
    word-break: break-word;
}
.recipe-comments-title {
    margin-bottom: 1rem;
}
.comment-title{
    font-weight: 600;
    margin-top: 1rem;
}
.comment-content{
    margin-block: 0.5rem;
}
.comment-modification-area{
    display: flex;
    gap: 0.5rem;
}
.comment-icon{
    width: 24px;
}
.comment-end{
    background-color: var(--color-light-900);
    height: 30px;
    margin-bottom: -30px;
}

@media (width > 768px) {
    .recipe-container{
        padding: 1rem 3rem;
    }
    .recipe-img{
        width: 60%;
        height: 228px;
        border-radius: 4px;
        display: block;
        margin-inline: auto;
    }
    .recipe-comments{
        padding: 2rem 3rem;
    }
}
@media (width > 1044) {
    .recipe-img{
        width: 20%;
    }
}
